# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode
.env
.gitignore

src/
public/
babel.config.js
packge.json
package-lock.json
postcss.config.js
webpack.config.js
